<div class="container-fluid mt-5">
  <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="error">
    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
      viewBox="0 0 16 16" role="img" aria-label="Warning:" width="20" height="20" fill="#842029">
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg>
    <div>
      {{ error }}
    </div>
  </div>
  <ng-container *ngIf="!isEditBtnEnable; else EditBtnEnable">
    <ng-container *ngIf="item | async as userProfile">
      <div class="alert alert-secondary w-50" role="alert" *ngIf="!userProfile?.address || !userProfile?.phone">
        Complete your profile by clicking on the button Edit
      </div>
      <div class="card mx-auto">
        <ng-container *ngIf="profileImageUrl | async; let srcUrl; else: profileCardIcon">
          <img class="card-img-top profile-image" [src]="srcUrl" alt="Profile Image" />
        </ng-container>
        <ng-template #profileCardIcon>
          <img class="card-img-top" src="../../assets/icons/profile-card.svg" alt="profile icon" />
        </ng-template>
        <div class="card-body text-center">
          <h4 class="card-title">{{ userProfile.displayName }}</h4>
          <hr />
          <div class="d-flex flex-column align-items-center">
            <p class="card-text text-start mt-3">
              <img src="../../assets/icons/envelope-at.svg" class="img-icon" alt="Bootstrap" width="32" height="32" />{{
              userProfile.email }}
            </p>
            <p class="card-text text-start" *ngIf="userProfile?.address">
              <img src="../../assets/icons/pin-map.svg" class="img-icon" alt="Bootstrap" width="32" height="32" />{{
              userProfile.address }}
            </p>
            <p class="card-text text-start" *ngIf="userProfile?.phone">
              <img src="../../assets/icons/telephone.svg" class="img-icon" alt="Bootstrap" width="32"
                height="32" />+91-{{ userProfile.phone }}
            </p>
          </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
          <button type="button" class="btn btn-white" (click)="isEditBtnEnable = true">
            Edit Profile
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #EditBtnEnable>
    <div class="container mt-3">
      <form #Profileform="ngForm" (ngSubmit)="onSubmit()">
        <div class="row justify-content-center my-3">
          <div class="col-8">
            <div class="mb-3 text-start">
              <label for="formFile" class="form-label fw-bold">Update Profile Image</label>
              <input required class="form-control" type="file" name="image" #profileImage (change)="fileChange($event)"
                id="formFile" />
              <progress [value]="uploadProgress | async" max="100" class="w-100"></progress>
            </div>
          </div>
          <div class="col-2">
            <ng-container *ngIf="profileImageUrl | async; let srcUrl; else: profileIcon">
              <img [src]="srcUrl" class="img-thumbnail" alt="Profile Image" />
            </ng-container>
            <ng-template #profileIcon>
              <img src="../../assets/icons/profile.svg" class="img-thumbnail" alt="profile icon" />
            </ng-template>
          </div>
          <div class="col-5">
            <div class="mb-3 text-start">
              <label class="fw-bold">First Name</label>
              <input required type="text" class="form-control" name="firstName" placeholder="First Name"
                [(ngModel)]="userFormData.firstName" />
            </div>
          </div>
          <div class="col-5">
            <div class="mb-3 text-start">
              <label class="fw-bold">Last Name</label>
              <input required type="text" class="form-control" name="lastName" placeholder="Last Name"
                [(ngModel)]="userFormData.lastName" />
            </div>
          </div>
          <div class="col-10">
            <div class="mb-3 text-start">
              <label class="fw-bold">Email</label>
              <input required type="email" class="form-control" name="email" placeholder="Email"
                [(ngModel)]="userFormData.email" [disabled]="true" />
              <div id="emailHelp" class="form-text">
                you can't update the email.
              </div>
            </div>
          </div>
          <div class="col-10">
            <div class="mb-3">
              <label class="form-label">Phone</label>
              <input type="text" class="form-control" name="phone" placeholder="Phone"
                [(ngModel)]="userFormData.phone" />
            </div>
          </div>
          <div class="col-10">
            <div class="mb-3 text-start">
              <label class="fw-bold">Address</label>
              <input required type="text" class="form-control" name="address" placeholder="Address"
                [(ngModel)]="userFormData.address" />
            </div>
          </div>
          <div class="col-5">
            <button type="submit" class="btn" [disabled]="!Profileform.valid">
              <ng-container *ngIf="!loading; else loadingAnimation">
                Save Details
              </ng-container>
              <ng-template #loadingAnimation>
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                <span role="status" class="ms-2">Saving...</span>
              </ng-template>
            </button>
          </div>
          <div class="col-5 text-end">
            <button type="button" class="btn" (click)="isEditBtnEnable = !isEditBtnEnable">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
</div>